@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<section id="main-content">
    <div class="row" style="margin-left:0">
        <h4>
            CZŁONKOWIE
        </h4>
    </div>
    <div class="row" >
        <div class="col-sm-4 col-md-3" style="margin-bottom:25px">
            <div style="background-color:burlywood; height:200px">
            </div>
        </div>
        <div class="col-sm-4 col-md-3
             " style="margin-bottom:25px">
            <div style="background-color:burlywood; height:200px">
            </div>
        </div>
        <div class="col-sm-4 col-md-3" style="margin-bottom:25px">
            <div style="background-color:burlywood; height:200px">
            </div>
        </div>
        <div class="col-sm-4 col-md-3" style="margin-bottom:25px">
            <div style="background-color:burlywood; height:200px">
            </div>
        </div>
        <div class="col-sm-4 col-md-3" style="margin-bottom:25px">
            <div style="background-color:burlywood; height:200px">
            </div>
        </div>
        <div class="col-sm-4 col-md-3" style="margin-bottom:25px">
            <div style="background-color:burlywood; height:200px">
            </div>
        </div>
        <div class="col-sm-4 col-md-3" style="margin-bottom:25px">
            <div style="background-color:burlywood; height:200px">
            </div>
        </div>
        <div class="col-sm-4 col-md-3" style="margin-bottom:25px">
            <div style="background-color:burlywood; height:200px">
            </div>
        </div>
    </div>
</section>