@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<section id="main-content">
    <div class="row" style="margin-left:0">
        <h4>
            GALERIA
        </h4>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4" style="margin-bottom:25px">
            <div style="background-color:ActiveCaption; line-height:250px; height:250px;font-size:30px; text-align:center">
                ITAD 2014
            </div>
        </div>
        <div class="col-sm-6 col-md-4" style="margin-bottom:25px">
            <div style="background-color:ActiveCaption; line-height:250px; height:250px;font-size:30px; text-align:center">
                ITAD 2014
            </div>
        </div>
        <div class="col-sm-5 col-md-4" style="margin-bottom:25px">
            <div style="background-color:ActiveCaption; line-height:250px; height:250px;font-size:30px; text-align:center">
                ITAD 2014
            </div>
        </div>
        <div class="col-sm-6 col-md-4" style="margin-bottom:25px">
            <div style="background-color:ActiveCaption; line-height:250px; height:250px;font-size:30px; text-align:center">
                ITAD 2014
            </div>
        </div>
        <div class="col-sm-6 col-md-4" style="margin-bottom:25px">
            <div style="background-color:ActiveCaption; line-height:250px; height:250px;font-size:30px; text-align:center">
                ITAD 2014
            </div>
        </div>
        <div class="col-sm-6 col-md-4" style="margin-bottom:25px">
            <div style="background-color:ActiveCaption; line-height:250px; height:250px;font-size:30px; text-align:center">
                ITAD 2014
            </div>
        </div>
        <div class="col-sm-6 col-md-4" style="margin-bottom:25px">
            <div style="background-color:ActiveCaption; line-height:250px; height:250px;font-size:30px; text-align:center">
                ITAD 2014
            </div>
        </div>
        <div class="col-sm-6 col-md-4" style="margin-bottom:25px">
            <div style="background-color:ActiveCaption; line-height:250px; height:250px;font-size:30px; text-align:center">
                ITAD 2014
            </div>
        </div>
    </div>
</section>