@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<section id="main-content">
  		<h2>
        	AKTUALNOŚCI
        </h2>
        <h4>
        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
        </h4>
        <div class="row">
        	<div class="col-sm-6 col-lg-4 col-md-4" style="margin-bottom:25px">
            	<div style="background-color:green;height:120px"></div>
                <h4>
                NAGŁÓWEK
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales 						                   pulvinar tempor. </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4" style="margin-bottom:25px">
            	<div style="background-color:green;height:120px"></div>
                <h4>
                NAGŁÓWEK
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales 						                   pulvinar tempor. </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4" style="margin-bottom:25px">
            	<div style="background-color:green;height:120px"></div>
                <h4>
                NAGŁÓWEK
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales 						                   pulvinar tempor. </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4" style="margin-bottom:25px">
            	<div style="background-color:green;height:120px"></div>
                <h4>
                NAGŁÓWEK
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales 						                   pulvinar tempor. </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4" style="margin-bottom:25px">
            	<div style="background-color:green;height:120px"></div>
                <h4>
                NAGŁÓWEK
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales 						                   pulvinar tempor. </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4" style="margin-bottom:25px">
            	<div style="background-color:green;height:120px"></div>
                <h4>
                NAGŁÓWEK
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales 						                   pulvinar tempor. </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4" style="margin-bottom:25px">
            	<div style="background-color:green;height:120px"></div>
                <h4>
                NAGŁÓWEK
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales 						                   pulvinar tempor. </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4" style="margin-bottom:25px">
            	<div style="background-color:green;height:120px"></div>
                <h4>
                NAGŁÓWEK
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales 						                   pulvinar tempor. </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4" style="margin-bottom:25px">
            	<div style="background-color:green;height:120px"></div>
                <h4>
                NAGŁÓWEK
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales 						                   pulvinar tempor. </p>
            </div>
           
        </div>
  </section>