@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<section id="main-content">
    @*<div class="row">
        <div class="column col-sm-12" id="main">
            <div class="padding">*@
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header joboffer-text">
                FrontEnd Developer
            </div>
        </div>
        <div class="col-sm-10 joboffer-box">
            <h3>Firma Nav24 poszukuje FrontEnd Developera</h3>
            <h4><span class="label label-default">nav24.pl</span></h4><h4>
                <small class="text-muted">
                    2 dni temu

                </small>

            </h4>
            <div class="text-muted">
                <a href="../joboffersdetails" class="text-muted pull-left">czytaj więcej</a>
            </div>
            <a href="#" class="col-sm-2 col-xs-12"><img src="~/media/1052/logo_gray.png" class="company-logo pull-right img-responsive"></a>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header joboffer-text">
                FrontEnd Developer
            </div>
        </div>
        <div class="col-sm-10 joboffer-box">
            <h3>Firma Nav24 poszukuje FrontEnd Developera</h3>
            <h4><span class="label label-default">nav24.pl</span></h4><h4>
                <small class="text-muted"> 2 dni temu •<br /> <a href="../joboffersdetails" class="text-muted">czytaj więcej</a></small>
            </h4>
        </div>
        <div class="col-sm-2">
            <a href="#" class="pull-right"><img src="~/media/1052/logo_gray.png" class="company-logo"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header joboffer-text">
                FrontEnd Developer
            </div>
        </div>
        <div class="col-sm-10 joboffer-box">
            <h3>Firma Nav24 poszukuje FrontEnd Developera</h3>
            <h4><span class="label label-default">nav24.pl</span></h4><h4>
                <small class="text-muted"> 2 dni temu •<br /> <a href="../joboffersdetails" class="text-muted">czytaj więcej</a></small>
            </h4>
        </div>
        <div class="col-sm-2">
            <a href="#" class="pull-right"><img src="~/media/1052/logo_gray.png" class="company-logo"></a>
        </div>
    </div>
    @*</div><!-- /col-9 -->
            </div><!-- /padding -->
        </div>*@

</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(window).on("resize", function () {
                if (window.innerWidth < 768) {
                    $("#main-row").removeAttr("style");
                    $("#side-menu").css("height", "100px");
                }
                else {
                    $("#main-row").css("display", "-ms-flex").css("display", "-webkit-flex").css("display", "flex");
                    $("#side-menu").css("height", "auto");
                }

            }).resize();
        });
    </script>
}
@section Styles{
    <style>
        .wrap {
            height: 100px;
            display: table;
        }

            .wrap h5 {
                display: table-cell;
                vertical-align: middle;
            }
    </style>
}