@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="row">
    <div class="col-xs-5 news-text">
        AKTUALNOŚCI
    </div>
</div>
<div class="row text-center" style="margin-top:1em">
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-group"></i></div>
                <div class="info">
                    <div class="title">
                        Warsztaty JCommerce 2.06.2015
                    </div>
                    <p id="title-desc">
                        Zapraszamy na warsztaty organizowane przez firmę JCommerce!
                    </p>
                    <div class="more">
                        <a href="~/news/news-1/" id="title-link">
                            <i class="glyphicon glyphicon-plus"></i> SZCZEGÓŁY
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-group"></i></div>
                <div class="info">
                    <div class="title">
                        WeBB MeetUp Spring Edition 14.05.2015
                    </div>
                    <p id="title-desc">
                        Zapraszamy na II edycję WeBB MeetUp!
                    </p>
                    <div class="more">
                        <a href="~/news/news-1/" id="title-link">
                            <i class="glyphicon glyphicon-plus"></i> SZCZEGÓŁY
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image">
                    <i class="fa fa-paperclip">
                    </i>
                </div>
                <div class="info">
                    <div class="title">
                        Studia magisterskie z informatyki na ATH
                    </div>
                    <p id="title-desc">
                        Więcej informacji wkrótce!
                    </p>
                    <div class="more">
                        <a href="~/news/news-1/" id="title-link">
                            <i class="glyphicon glyphicon-plus"></i> SZCZEGÓŁY
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image">
                    <i class="fa fa-pencil">
                    </i>
                </div>
                <div class="info">
                    <div class="title">
                        Nowy projekt RESET ATH
                    </div>
                    <p id="title-desc">
                        Powstaje system parkinkowy ParkingATH!
                    </p>
                    <div class="more">
                        <a href="~/news/news-1/" id="title-link">
                            <i class="glyphicon glyphicon-plus"></i> SZCZEGÓŁY
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image">
                    <i class="fa fa-pencil">
                    </i>
                </div>
                <div class="info">
                    <div class="title">
                        Nowy projekt RESET ATH
                    </div>
                    <p id="title-desc">
                        Powstaje system parkinkowy ParkingATH!
                    </p>
                    <div class="more">
                        <a href="~/news/news-1/" id="title-link">
                            <i class="glyphicon glyphicon-plus"></i> SZCZEGÓŁY
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image">
                    <i class="fa fa-pencil">
                    </i>
                </div>
                <div class="info">
                    <div class="title">
                        Nowy projekt RESET ATH
                    </div>
                    <p id="title-desc">
                        Powstaje system parkinkowy ParkingATH!
                    </p>
                    <div class="more">
                        <a href="~/news/news-1/" id="title-link">
                            <i class="glyphicon glyphicon-plus"></i> SZCZEGÓŁY
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
</div>
@section Styles{

    <link href="~/Content/News.css" rel="stylesheet" />}
