@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<section id="main-content">
    <div class="row">
        <div class="col-xs-12 news-name">
            <h1>POŁĄCZENIE WEB API, WINDOWS AZURE I WINDOWS PHONE </h1>

            <hr>
            <p><span class="glyphicon glyphicon-time"></span> opublikowano 8 maja 2015</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <img class="img-responsive" src="~/media/banner_news.jpg" alt="">
            <hr>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
            <p class="lead-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            </p>
        </div>
        <div class="col-md-3 pull-right col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading news-box">
                    <h4 class="text-center">
                        śledź na
                        <id class="fa fa-facebook-official"></id>
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>
                            ZAREJESTRUJ SIĘ
                            NA WYDARZENIE
                        </strong>
                    </p>
                    <div class="glyphicon glyphicon-calendar calendar-icon" style="font-size:60px;">

                    </div>
                </div>

            </div>

        </div>
    </div>

</section>
@section Styles{

    <link href="~/Content/NewsDetails.css" rel="stylesheet" />}