@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<section id="main-content">
    <h2>
        PROJEKTY
    </h2>
    <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
    </h4>
    <div class="row">
        <a href="/Projects/Project-1">
            <div class="col-sm-6 col-lg-4 col-md-4" style="background-color:green">
                <div style="height:420px"></div>
            </div>
        </a>
        <a href="/Projects/Project-1">
            <div class="col-sm-6 col-lg-4 col-md-4" style="background-color:yellow">
                <div style="height:420px"></div>
            </div>
        </a>
        <a href="/Projects/Project-1">
            <div class="col-sm-6 col-lg-4 col-md-4" style="background-color:blue">
                <div style="height:420px"></div>
            </div>
        </a>
        <a href="/Projects/Project-1">
            <div class="col-sm-6 col-lg-4 col-md-4" style="background-color:lightblue">
                <div style="height:420px"></div>
            </div>
        </a>
        <a href="/Projects/Project-1">
            <div class="col-sm-6 col-lg-4 col-md-4" style="background-color:pink">
                <div style="height:420px"></div>
            </div>
        </a>
        <a href="/Projects/Project-1">
            <div class="col-sm-6 col-lg-4 col-md-4" style="background-color:red">
                <div style="height:420px"></div>
            </div>
        </a>
        <a href="/Projects/Project-1">
            <div class="col-sm-6 col-lg-4 col-md-4" style="background-color:purple">
                <div style="height:420px"></div>
            </div>
        </a>
        <a href="/Projects/Project-1">
            <div class="col-sm-6 col-lg-4 col-md-4" style="background-color:brown">
                <div style="height:420px"></div>
            </div>
        </a>
        <a href="/Projects/Project-1">
            <div class="col-sm-6 col-lg-4 col-md-4" style="background-color:black">
                <div style="height:420px"></div>
            </div>
        </a>
    </div>
</section>