

.page-header {
    margin-top: 55px;
    padding-top: 9px;
    border-top: 1px solid #eeeeee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
    font-family: 'Segoe UI';
    margin-top:30px;
    margin-bottom:30px;
}

.joboffer-text {
    font-family: 'Segoe UI';
    text-transform: uppercase;
}
.joboffer-box {
    margin-bottom:30px !important;
}
@media(max-width:768px) 
{
    .company-logo{
        margin:auto;
    }
}