.extra-li {
    width: 10%;
}

header {
    background-color: #333136;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gradient-search {
    -webkit-border-radius: 12px/14px 14px 15px 15px;
    -moz-border-radius: 12px/14px 14px 15px 15px;
    border-radius: 12px/14px 14px 15px 15px;
    background-color: #1e2a32;
    -webkit-box-shadow: 1px 1px rgba(255,255,255,.1), inset 1px 1px 5px rgba(24,34,41,.4);
    -moz-box-shadow: 1px 1px rgba(255,255,255,.1), inset 1px 1px 5px rgba(24,34,41,.4);
    box-shadow: 1px 1px rgba(255,255,255,.1), inset 1px 1px 5px rgba(24,34,41,.4);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.69) 18%, rgba(51,51,51,.69));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.69) 18%, rgba(51,51,51,.69));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.69) 18%, rgba(51,51,51,.69));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.69) 18%, rgba(51,51,51,.69));
    background-image: linear-gradient(to top, rgba(0,0,0,.69) 18%, rgba(51,51,51,.69));
    border: 0;
}

.horizontal-separate {
    background-image: -webkit-linear-gradient(bottom, #883e3e, #b76464);
    background-image: -moz-linear-gradient(bottom, #883e3e, #b76464);
    background-image: -o-linear-gradient(bottom, #883e3e, #b76464);
    background-image: -ms-linear-gradient(bottom, #883e3e, #b76464);
    background-image: linear-gradient(to top, #883e3e, #b76464);
    width: 100%;
    height: 5px;
}

.navbar-header, .navbar-collapse {
    background-color: #333136;
    border: none;
}



.parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


footer {
    background-color: #333136;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-menu {
    text-align: center;
    list-style-type: none;
    display: table;
    padding: 0;
    font-size: 10px;
    font-family: 'Segoe UI';
    width: 100%;
    text-transform: uppercase;
    opacity: 0.5;
}

    .footer-menu li a {
        color: grey;
        text-decoration: none;
        font-family: 'Segoe UI';
    }

        .footer-menu li a:hover {
            border-bottom: 2px solid #883e3e;
        }

    .footer-menu li {
        display: table-cell;
    }

.footer-menu-down {
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.6), inset 1px 1px rgba(255,255,255,.2);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.6), inset 1px 1px rgba(255,255,255,.2);
    box-shadow: 1px 1px 3px rgba(0,0,0,.6), inset 1px 1px rgba(255,255,255,.2);
    border: solid 1px #8c8c8c;
    background-image: -webkit-linear-gradient(bottom, #883e3e, #b76464);
    background-image: -moz-linear-gradient(bottom, #883e3e, #b76464);
    background-image: -o-linear-gradient(bottom, #883e3e, #b76464);
    background-image: -ms-linear-gradient(bottom, #883e3e, #b76464);
    background-image: linear-gradient(to top, #883e3e, #b76464);
    height: 30px;
    width: 100%;
}

.localize-icon, .mail-icon {
    font-size: 2em;
    color: grey;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.localize-text, .mail-text {
    color: grey;
    font-size: 10px;
    font-family: 'Segoe UI';
    margin-top: 5px;
    text-align: center;
}

.copyright-text {
    color: white;
    font-size: 10px;
    font-family: 'Segoe UI';
    line-height: 30px;
    font-style: italic;
}

.socialmedia {
    color: white;
    font-size: 20px;
    line-height: 30px;
}

ul.nav.navbar-nav {
    width: 100%;
}

    ul.nav.navbar-nav > li {
        width: 16%;
        text-align: center;
    }

.inverse-dropdown {
    background-color: #222;
    border-color: #080808;
}

    .inverse-dropdown > li > a {
        color: #999;
    }

    .inverse-dropdown > li:hover a {
        /*color: #fff;*/
        background-color: #000;
    }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: #b76464 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    background-color: grey;
}

@media (max-width:768px) {
    #main-nav > li {
        width: 100% !important;
        text-align: center;
    }

        #main-nav > li > a {
            width: 100% !important;
            text-align: center;
        }
}

@media (min-width:769px) {
    .navbar-nav > li > a.nav-text {
        font-family: 'Segoe UI';
        font-size: 12px;
        text-transform: uppercase;
    }

    .navbar-nav > li > a:hover {
        border-bottom: 5px solid #b76464;
        padding-bottom: 10px;
    }

    .inverse-dropdown > li:hover {
        background-color: black !important;
    }

    .inverse-dropdown > li > a {
        color: #999;
    }

    .inverse-dropdown > li:hover a {
        /*color: #fff;*/
        background-color: #000;
    }

    .localize-icon {
        width: auto;
        text-align: left;
    }

    .mail-icon {
        width: auto;
        text-align: left;
    }

    .localize-text p {
        line-height: 2em/3;
        text-align: left;
        margin-top: 5px;
    }

    .mail-text p {
        line-height: 1.5em;
        text-align: left;
        margin-top: 15px;
    }

    .localize-box {
        margin-top: 20px;
    }
}

@media (min-width: 769px) {
    .footer-menu-sm {
        color: grey;
        font-family: 'Segoe UI';
        font-size: 12px;
    }

        .footer-menu-sm li {
            list-style-type: none;
            text-align: right;
        }
}
