<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Eventsdetails ANY>
<!ATTLIST Eventsdetails id ID #REQUIRED>
<!ELEMENT Events ANY>
<!ATTLIST Events id ID #REQUIRED>
<!ELEMENT Gallerydetails ANY>
<!ATTLIST Gallerydetails id ID #REQUIRED>
<!ELEMENT Gallery ANY>
<!ATTLIST Gallery id ID #REQUIRED>
<!ELEMENT Contactmembers ANY>
<!ATTLIST Contactmembers id ID #REQUIRED>
<!ELEMENT Contactcore ANY>
<!ATTLIST Contactcore id ID #REQUIRED>
<!ELEMENT Joboffers ANY>
<!ATTLIST Joboffers id ID #REQUIRED>
<!ELEMENT Newsdetails ANY>
<!ATTLIST Newsdetails id ID #REQUIRED>
<!ELEMENT News ANY>
<!ATTLIST News id ID #REQUIRED>
<!ELEMENT Projectsdetails ANY>
<!ATTLIST Projectsdetails id ID #REQUIRED>
<!ELEMENT Projects ANY>
<!ATTLIST Projects id ID #REQUIRED>
<!ELEMENT Details ANY>
<!ATTLIST Details id ID #REQUIRED>
<!ELEMENT Articles ANY>
<!ATTLIST Articles id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1144" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-06-01T21:24:26" updateDate="2015-06-01T21:25:31" nodeName="Home" urlName="home" path="-1,1144" isDoc="" nodeType="1143" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1097" nodeTypeAlias="Home">
    <Articles id="1146" parentID="1144" level="2" creatorID="0" sortOrder="0" createDate="2015-06-01T21:30:35" updateDate="2015-06-01T21:31:42" nodeName="Articles" urlName="articles" path="-1,1144,1146" isDoc="" nodeType="1145" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1102" nodeTypeAlias="Articles">
      <Details id="1149" parentID="1146" level="3" creatorID="0" sortOrder="0" createDate="2015-06-01T21:34:12" updateDate="2015-06-01T21:35:36" nodeName="Article 1" urlName="article-1" path="-1,1144,1146,1149" isDoc="" nodeType="1147" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1114" nodeTypeAlias="Details" />
    </Articles>
    <Projects id="1155" parentID="1144" level="2" creatorID="0" sortOrder="1" createDate="2015-06-01T21:57:39" updateDate="2015-06-01T21:57:39" nodeName="Projects" urlName="projects" path="-1,1144,1155" isDoc="" nodeType="1152" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1107" nodeTypeAlias="Projects">
      <Projectsdetails id="1156" parentID="1155" level="3" creatorID="0" sortOrder="0" createDate="2015-06-01T21:58:23" updateDate="2015-06-02T14:15:46" nodeName="Project 1" urlName="project-1" path="-1,1144,1155,1156" isDoc="" nodeType="1153" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1151" nodeTypeAlias="Projectsdetails" />
    </Projects>
    <News id="1161" parentID="1144" level="2" creatorID="0" sortOrder="2" createDate="2015-06-01T22:06:15" updateDate="2015-06-01T22:06:15" nodeName="News" urlName="news" path="-1,1144,1161" isDoc="" nodeType="1157" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1099" nodeTypeAlias="News">
      <Newsdetails id="1162" parentID="1161" level="3" creatorID="0" sortOrder="0" createDate="2015-06-01T22:06:25" updateDate="2015-06-01T22:07:34" nodeName="News 1" urlName="news-1" path="-1,1144,1161,1162" isDoc="" nodeType="1158" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1159" nodeTypeAlias="Newsdetails" />
    </News>
    <Joboffers id="1169" parentID="1144" level="2" creatorID="0" sortOrder="3" createDate="2015-06-02T10:39:43" updateDate="2015-06-02T10:40:34" nodeName="Jobs" urlName="jobs" path="-1,1144,1169" isDoc="" nodeType="1168" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1167" nodeTypeAlias="Joboffers" />
    <Contactcore id="1174" parentID="1144" level="2" creatorID="0" sortOrder="4" createDate="2015-06-02T11:49:19" updateDate="2015-06-02T11:50:27" nodeName="Core" urlName="core" path="-1,1144,1174" isDoc="" nodeType="1171" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1170" nodeTypeAlias="Contactcore" />
    <Contactmembers id="1175" parentID="1144" level="2" creatorID="0" sortOrder="5" createDate="2015-06-02T11:51:11" updateDate="2015-06-02T11:51:36" nodeName="Members" urlName="members" path="-1,1144,1175" isDoc="" nodeType="1173" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1172" nodeTypeAlias="Contactmembers" />
    <Gallery id="1181" parentID="1144" level="2" creatorID="0" sortOrder="6" createDate="2015-06-02T12:38:10" updateDate="2015-06-02T12:38:10" nodeName="Gallery" urlName="gallery" path="-1,1144,1181" isDoc="" nodeType="1178" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1176" nodeTypeAlias="Gallery">
      <Gallerydetails id="1182" parentID="1181" level="3" creatorID="0" sortOrder="0" createDate="2015-06-02T12:38:22" updateDate="2015-06-02T12:39:33" nodeName="Gallery 1" urlName="gallery-1" path="-1,1144,1181,1182" isDoc="" nodeType="1179" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1177" nodeTypeAlias="Gallerydetails" />
    </Gallery>
    <Events id="1190" parentID="1144" level="2" creatorID="0" sortOrder="7" createDate="2015-06-02T13:51:12" updateDate="2015-06-02T13:51:12" nodeName="Events" urlName="events" path="-1,1144,1190" isDoc="" nodeType="1187" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1184" nodeTypeAlias="Events">
      <Eventsdetails id="1191" parentID="1190" level="3" creatorID="0" sortOrder="0" createDate="2015-06-02T13:51:21" updateDate="2015-06-02T13:51:51" nodeName="Event 1" urlName="event-1" path="-1,1144,1190,1191" isDoc="" nodeType="1188" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1186" nodeTypeAlias="Eventsdetails" />
    </Events>
  </Home>
</root>