<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1098" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-05-24T15:23:29" updateDate="2015-05-24T15:23:29" nodeName="Home" urlName="home" path="-1,1098" isDoc="" nodeType="1091" creatorName="Katarzyna" writerName="Katarzyna" writerID="0" template="1097" nodeTypeAlias="Home" />
</root>